myenv/
*.xlsx
!Attendees.xlsx
!NameTag.pptx
.gitignore.bak
*checkpoint.ipynb
/PyQT5GeeksCoders/venv/
/Part4 - SOPDataExportAutomation/DOCX/Standalone/dist
/Part4 - SOPDataExportAutomation/DOCX/Standalone/build
